# Notifications
#
# Displays the dunst history count
[rofication]
command={{ .chezmoi.homeDir }}/.local/bin/i3xrocks-dunst
interval=5
markup=pango
separator_block_width=35
color=xresource:i3xrocks.value.color
label_color=xresource:i3xrocks.label.color
